a {
    transition: all 0.3s ease;
}

a.primary-link {
    text-decoration: underline;
    color: var(--primary);

    &:hover {
        color: var(--primary-dark);
    }
}

a.secondary-link {
    text-decoration: underline;
    color: var(--secondary);

    &:hover {
        color: var(--secondary-dark);
    }
}

a.gradient-link {
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right, #6c0de8 0%, #4e5eef 40%, #96a9f4 55%, #77afd4 80%);
    color: transparent;

    &:hover {
        background-image: linear-gradient(
            to right,
            #9d4bb6 0%,
            #203b93 30%,
            #2b49ad 55%,
            #532db5 80%
        );
    }
}

a.arrow-link {
    display: flex;

    img {
        margin-left: 8px;
        transition: all 0.3s ease;
    }

    &:hover {
        img {
            margin-left: 16px;
        }
    }
}

a.gradient-link.button {
    text-decoration: none;
    color: white;
    height: 40px;
    padding: 8px 12px;
    border-radius: 8px;
    background: linear-gradient(45deg, #6c0de8 0%, #4e5eef 40%, #96a9f4 55%, #77afd4 80%);
}
