<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, viewport-fit=cover"
        />
        <link rel="stylesheet" type="text/css" href="../../Common/index.css" />
        <link rel="stylesheet" type="text/css" href="../../Dependencies/marked/index.css" />
        <link rel="stylesheet" type="text/css" href="../../Dependencies/hljs/index.css" />
        <link rel="stylesheet" type="text/css" href="../../Dependencies/Cropper/cropper.min.css" />
        <link
            rel="stylesheet"
            type="text/css"
            href="../../Dependencies/datatables/datatables.css"
        />
        <link rel="stylesheet" type="text/css" href="../../Dependencies/slick/slick.css" />
        <link rel="stylesheet" type="text/css" href="../../Dependencies/hljs/index.css" />
        <link rel="stylesheet" type="text/css" href="../../Components/Loader/index.css" />
        <link rel="stylesheet" type="text/css" href="../../Components/Layout/index.css" />
        <link rel="stylesheet" type="text/css" href="../../Components/Link/index.css" />
        <link rel="stylesheet" type="text/css" href="../../Components/Button/index.css" />
        <link rel="stylesheet" type="text/css" href="../../Components/Checkbox/index.css" />
        <link rel="stylesheet" type="text/css" href="../../Components/SideMenu/index.css" />
        <link rel="stylesheet" type="text/css" href="../../Components/Table/index.css" />
        <link rel="stylesheet" type="text/css" href="../../Components/Footer/index.css" />
        <link rel="stylesheet" type="text/css" href="../../Components/ProfileCard/index.css" />
        <link rel="stylesheet" type="text/css" href="../../Components/FeedbackMsg/index.css" />
        <link rel="stylesheet" type="text/css" href="../../Components/Input/index.css" />
        <link rel="stylesheet" type="text/css" href="../../Components/Pop/index.css" />
        <link rel="stylesheet" type="text/css" href="../../Components/DropBox/index.css" />

        <link
            rel="stylesheet"
            type="text/css"
            href="../../Components/LessonContentModule/index.css"
        />

        <link rel="stylesheet" type="text/css" href="index.css" />
        <link rel="shortcut icon" type="image/png" href="../../Images/icon/logo.svg" />
        <!-- Google Tag Manager -->
        <script>
            (function (w, d, s, l, i) {
                w[l] = w[l] || [];
                w[l].push({
                    'gtm.start': new Date().getTime(),
                    event: 'gtm.js',
                });
                var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s),
                    dl = l != 'dataLayer' ? '&l=' + l : '';
                j.async = true;
                j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
                f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', 'GTM-TWGQMN8');
        </script>
        <!-- End Google Tag Manager -->
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-CMZ45H5BZ4"></script>
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', 'G-CMZ45H5BZ4');
        </script>
        <title>Topic</title>
    </head>

    <body>
        <!-- <div id="loader">
            <div class="loader-inner pacman"></div>
        </div> -->
        <div class="bg"></div>
        <div class="layout">
            <div class="sideMenuArea">
                <div class="sideMenu">
                    <img class="logo" src="../../Images/icon/logo.svg" alt="logo" />
                    <h3>CodeCity</h3>
                    <nav>
                        <li id="navTopicMap" class="active">
                            <a href="../Map/">
                                <div class="item" aria-hidden="true">
                                    <img
                                        class="icon"
                                        src="../../Images/icon/general/game.svg"
                                        alt="地圖"
                                    />
                                    <span class="text">課程地圖</span>
                                </div>
                            </a>
                        </li>
                        <li id="navRank">
                            <a href="../Rank/">
                                <div class="item" aria-hidden="true">
                                    <img
                                        class="icon"
                                        src="../../Images/icon/general/leaderboard.svg"
                                        alt="排行榜"
                                    />
                                    <span class="text">排行榜</span>
                                </div>
                            </a>
                        </li>
                        <li id="navNews">
                            <a href="../News/">
                                <div class="item" aria-hidden="true">
                                    <img
                                        class="icon"
                                        src="../../Images/icon/general/bell.svg"
                                        alt="最新消息"
                                    />
                                    <span class="text">最新消息</span>
                                </div>
                            </a>
                        </li>
                        <li id="navForum">
                            <a href="../Forum/">
                                <div class="item" aria-hidden="true">
                                    <img
                                        class="icon"
                                        src="../../Images/icon/general/question-answer.svg"
                                        alt="討論區"
                                    />
                                    <span class="text">討論區</span>
                                </div>
                            </a>
                        </li>
                        <li id="navClassManage">
                            <a href="../ClassManage/">
                                <div class="item" aria-hidden="true">
                                    <img
                                        class="icon"
                                        src="../../Images/icon/general/groups.svg"
                                        alt="班級管理"
                                    />
                                    <span class="text">班級管理</span>
                                </div>
                            </a>
                        </li>
                        <li id="navTopicManage">
                            <a href="../CourseManage/">
                                <div class="item" aria-hidden="true">
                                    <img
                                        class="icon"
                                        src="../../Images/icon/type/book.svg"
                                        alt="課程管理"
                                    />
                                    <span class="text">課程管理</span>
                                </div>
                            </a>
                        </li>
                        <li id="navPerson">
                            <a href="../Setting/">
                                <div class="item" aria-hidden="true">
                                    <img
                                        class="icon"
                                        src="../../Images/icon/general/user.svg"
                                        alt="個人"
                                    />
                                    <span class="text">個人</span>
                                </div>
                            </a>
                            <ul>
                                <li id="navBadge">
                                    <a href="../Achievement/">成就</a>
                                </li>
                                <li id="navSetting">
                                    <a href="../Setting/">設定</a>
                                </li>
                                <li id="navLogOut">
                                    <a href="../Login/">登出</a>
                                </li>
                            </ul>
                        </li>
                    </nav>
                    <div class="status">
                        <div class="item close">
                            <img
                                class="icon"
                                src="../../Images/icon/direction/arrow-left-double.svg"
                                alt="icon"
                            />
                            <span>收合</span>
                        </div>
                        <div class="item open">
                            <img
                                class="icon"
                                src="../../Images/icon/direction/arrow-left-double.svg"
                                alt="icon"
                            />
                        </div>
                    </div>
                </div>
            </div>
            <div class="contentWrapper oneBlock">
                <main id="lessonContent" class="content">
                    <div class="table__container">
                        <table id="lessonTable" class="stripe" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>章節名稱</th>
                                    <th>簡介</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </main>
            </div>
        </div>
        <!-- <div id="classCodeArea">
            <div class="dropBox">
                <input class="selectSelected" type="text" placeholder="請選擇班級" />
                <img src="../../Images/icon/direction/drop-right.svg" alt="icon" class="icon" />
                <img src="../../Images/icon/general/clear.svg" alt="icon" class="drop__clear" />
                <div class="line"></div>
                <div class="selectItems"></div>
            </div>
        </div> -->
        <div class="pop">
            <div class="contentWrapper">
                <div class="top">
                    <img class="icon" src="../../Images/icon/general/bell-primary.svg" alt="info" />
                    <h3>通知</h3>
                </div>
                <p class="middle">這裡是提示文字</p>
                <div class="bottom">
                    <button class="button btn-primary close-pop">確認</button>
                </div>
            </div>
        </div>
        <script src="../../Common/util.js"></script>
        <script src="../../Dependencies/jquery/jquery.min.js"></script>
        <script src="../../Dependencies/slick/slick.min.js"></script>
        <script src="../../Dependencies/datatables/datatables.min.js"></script>
        <script src="../../Dependencies/datatables/dataTables.scrollResize.min.js"></script>
        <script src="../../Components/Table/index.js"></script>
        <script src="../../Components/Loader/index.js"></script>
        <script src="../../Components/SideMenu/index.js"></script>
        <script src="../../Components/Pop/index.js"></script>
        <script src="../../Components/DropBox/index.js"></script>
        <script src="index.js"></script>
    </body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
        ><iframe
            src="https://www.googletagmanager.com/ns.html?id=GTM-TWGQMN8"
            height="0"
            width="0"
            style="display: none; visibility: hidden"
        ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->
</html>
