<!DOCTYPE html>
<html lang="zh-TW">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
        />
        <link rel="stylesheet" type="text/css" href="../../Common/index.css" />
        <link rel="stylesheet" type="text/css" href="./index.css" />
        <link rel="shortcut icon" type="image/png" href="" />
        <title>DropBox</title>
    </head>
    <body style="height: 500px">
        <div class="dropBox">
            <input class="selectSelected" type="text" placeholder="請選擇" />
            <img src="../../Images/icon/direction/drop-right.svg" alt="icon" class="icon" />
            <img src="../../Images/icon/general/clear.svg" alt="icon" class="drop__clear" />
            <div class="line"></div>
            <div class="selectItems">
                <div class="option" value="1">選項一</div>
                <div class="option" value="2">選項二</div>
                <div class="option" value="3">選項三</div>
                <div class="option" value="4">選項四</div>
            </div>
        </div>
        <script type="text/javascript" src="../../Dependencies/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="./index.js"></script>
    </body>
</html>
