<!DOCTYPE html>
<html lang="zh-TW">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
        />
        <link rel="stylesheet" type="text/css" href="../../Common/index.css" />
        <link rel="stylesheet" type="text/css" href="./index.css" />
        <link rel="shortcut icon" type="image/png" href="" />
        <title>CheckBox</title>
    </head>
<body>
    <div class="container">
        <div class="condition__button">
            <input type="checkbox" id="c1" name="cb" />
            <label for="c1"><span class="check"></span><span class="text">Check Box 1</span></label>
        </div>
        <div class="condition__button">
            <input type="checkbox" id="c2" name="cb" />
            <label for="c2"><span class="check"></span><span class="text">Check Box 1</span></label>
        </div>
    </div>
</body>
</html>