.content {
    .contentTopArea {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding-bottom: 16px;
        margin-bottom: 16px;
        border-bottom: 1px solid var(--grey5);

        #lessonIcon {
            margin-right: 8px;
            width: 40px;
            background: linear-gradient(45deg, var(--primary-dark), var(--secondary-dark));
            height: fit-content;
            padding: 8px;
            border-radius: 8px;
        }

        #pageTitle {
            display: flex;
            align-items: center;
            margin-right: 8px;

            a {
                color: var(--black);
            }

            button {
                font-size: 18px;
                position: relative;
                margin-left: 24px;

                &:before {
                    position: absolute;
                    content: ' ';
                    width: 2px;
                    height: 80%;
                    background-color: var(--grey2);
                    left: -12px;
                    top: 50%;
                    border-radius: 8px;
                    transform: translate(-50%, -50%);
                }
            }
        }

        .right {
            display: flex;
            margin-left: auto;
            gap: 16px;

            .dropBox.selectLessonContent {
                display: none;
            }
        }
    }

    .contentMainArea {
        display: grid;
        grid-template-columns: 1fr;
        font-size: 14px;
        height: calc(100% - 64px);

        .block {
            display: flex;
        }

        .tab {
            display: none;
        }

        .table__container {
            height: 100%;

            button.manage {
                color: var(--primary);
                text-decoration: underline;
                transition: all 0.3s ease;

                &:hover {
                    color: var(--primary-dark);
                }
            }
        }
    }

    &[active-tab='topic'] {
        .tab[tab-name='topic'] {
            display: initial;

            .table__container {
                .tableInput {
                    &.topicName {
                        min-width: 160px;
                    }
                    &.topicDescription {
                        min-width: 240px;
                    }
                }
            }
        }
    }

    &[active-tab='lesson'] {
        .pageTopicName {
            color: var(--primary);
        }
        .pageLessonName {
            display: none;
        }
        .tab[tab-name='lesson'] {
            display: initial;
        }
    }

    &[active-tab='lessonContent'] {
        .pageLessonName {
            color: var(--primary);
        }

        .dropBox.selectLessonContent {
            display: block !important;
        }

        .tab[tab-name='lessonContent'] {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            width: 100%;
            overflow: hidden;
        }
    }
}

#lessonContentModal {
    .formModule {
        display: none;
    }

    &[target-type='markdown'] {
        .modalWrapper {
            width: 80%;
            max-width: 80%;

            .markdownForm {
                display: block;

                textarea {
                    height: 100%;
                    width: 100%;
                    min-height: 300px;
                    max-height: 450px;
                    overflow: scroll;
                    resize: vertical;
                }

                .previewArea {
                    height: 100%;
                    width: 100%;
                    min-height: 300px;
                    max-height: 450px;
                    overflow: scroll;
                    border-radius: 8px;
                    border: 1px solid var(--grey5);
                    padding: 8px;
                }
            }
        }
    }

    &[target-type='textArea'] {
        .textAreaForm {
            display: block;
        }
    }

    &[target-type='singleChoice'] {
        .modalWrapper {
            width: 80%;
            max-width: 80%;

            .singleChoiceForm {
                display: block;

                .note {
                    font-size: 12px;
                    font-weight: 500;
                    letter-spacing: 0.4px;
                    color: var(--grey2);
                    margin-bottom: 10px;
                }

                .condition__button {
                    margin-bottom: 12px;
                    span.text {
                        width: -webkit-fill-available;

                        .input {
                            border: none;
                            height: auto;
                            padding: 4px;
                        }
                    }

                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    &[target-type='multipleChoice'] {
        .modalWrapper {
            width: 80%;
            max-width: 80%;

            .multipleChoiceForm {
                display: block;

                .note {
                    font-size: 12px;
                    font-weight: 500;
                    letter-spacing: 0.4px;
                    color: var(--grey2);
                    margin-bottom: 10px;
                }

                .condition__button {
                    margin-bottom: 12px;
                    span.text {
                        width: -webkit-fill-available;

                        .input {
                            border: none;
                            height: auto;
                            padding: 4px;
                        }
                    }

                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    &[target-type='fillBlank'] {
        .modalWrapper {
            width: 80%;
            max-width: 80%;

            .fillBlankForm {
                display: block;

                .previewImage {
                    border: 1px solid var(--grey5);
                    padding: 4px;
                    border-radius: 8px;

                    img {
                        width: 100%;
                        max-height: 300px;
                    }
                }

                .optionsArea {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;

                    .optionItem {
                        display: grid;
                        grid-template-columns: 100px 1fr;
                        gap: 8px;
                    }
                }

                .note {
                    font-size: 12px;
                    font-weight: 500;
                    letter-spacing: 0.4px;
                    color: var(--grey2);
                    margin-bottom: 10px;
                }
            }
        }
    }

    &[target-type='uploadImage'] {
        .uploadImageForm {
            display: block;
        }
    }

    &[target-type='embed'] {
        .embedForm {
            display: block;
        }
    }

    &[target-type='embedYoutube'] {
        .embedYoutubeForm {
            display: block;
        }
    }
}

#previewLessonContentModal {
    .modalWrapper {
        width: 80%;
        max-width: 80%;

        .middle {
            max-height: 500px;
            padding: 8px 16px;
            overflow-y: scroll;

            .content-img img{
                width: 100%;
            }
        }
    }
}
