.feedbackMsg {
    justify-content: flex-start;
    align-items: center;
    margin-top: 6px;
    padding: 6px;
    border-radius: 4px;
    text-shadow: none;
    max-width: 240px;
    height: fit-content;

    &.maxContent {
        max-width: max-content;
    }

    & > .icon {
        flex-shrink: 0;
        margin-right: 6px;
        display: inline-block;
        cursor: pointer;
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        height: 24px;
        width: 24px;
    }

    & > .text {
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.4px;
    }
}

.successMsg {
    background-color: white;
    border: 1px solid var(--primary-light);
    box-shadow: 0 0 5px 0 rgba(49, 137, 196, 0.75);

    & .icon{
        background-image: url('../../Images/icon/general/check-circle-done.svg');
    }

    & > .text {
        color: var(--primary);
    }
}

.errorMsg {
    background-color: var(--alert-light);
    box-shadow: 0 0 5px 0 rgba(191, 92, 92,0.6);

    & .icon{
        background-image: url('../../Images/icon/general/error.svg');
    }

    & > .text {
        color: var(--alert-dark);
    }
}

.infoMsg {
    background-color: var(--grey4);
    box-shadow: 0 0 5px 0 var(--grey2);

    & .icon{
        background-image: url('../../Images/icon/general/info.svg');
    }

    & > .text {
        color: var(--grey1);
    }
}

[data-feedback='false'] .feedbackMsg {
    display: none;
}
[data-feedback='true'] .successMsg,
[data-feedback='true'] .errorMsg,
[data-feedback='true'] .infoMsg {
    display: flex;
}
