<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, viewport-fit=cover"
        />
        <link rel="stylesheet" type="text/css" href="../../Common/index.css" />
        <link rel="stylesheet" type="text/css" href="../../Dependencies/marked/index.css" />
        <link rel="stylesheet" type="text/css" href="../../Dependencies/hljs/index.css" />
        <link rel="stylesheet" type="text/css" href="../../Dependencies/Cropper/cropper.min.css" />
        <link
            rel="stylesheet"
            type="text/css"
            href="../../Dependencies/datatables/datatables.css"
        />
        <link rel="stylesheet" type="text/css" href="../../Components/Loader/index.css" />
        <link rel="stylesheet" type="text/css" href="../../Components/Layout/index.css" />
        <link rel="stylesheet" type="text/css" href="../../Components/Link/index.css" />
        <link rel="stylesheet" type="text/css" href="../../Components/Button/index.css" />
        <link rel="stylesheet" type="text/css" href="../../Components/Checkbox/index.css" />
        <link rel="stylesheet" type="text/css" href="../../Components/SideMenu/index.css" />
        <link rel="stylesheet" type="text/css" href="../../Components/Table/index.css" />
        <link rel="stylesheet" type="text/css" href="../../Components/Footer/index.css" />
        <link rel="stylesheet" type="text/css" href="../../Components/ProfileCard/index.css" />
        <link rel="stylesheet" type="text/css" href="../../Components/FeedbackMsg/index.css" />
        <link rel="stylesheet" type="text/css" href="../../Components/Pop/index.css" />
        <link rel="stylesheet" type="text/css" href="../../Components/Input/index.css" />
        <link rel="stylesheet" type="text/css" href="../../Components/DropBox/index.css" />
        <link rel="stylesheet" type="text/css" href="../../Components/MultiDropBox/index.css" />
        <link rel="stylesheet" type="text/css" href="../../Components/Modal/index.css" />
        <link rel="stylesheet" type="text/css" href="../../Dependencies/hljs/index.css" />
        <link
            rel="stylesheet"
            type="text/css"
            href="../../Components/LessonContentModule/index.css"
        />

        <link rel="stylesheet" type="text/css" href="index.css" />
        <link rel="shortcut icon" type="image/png" href="../../Images/icon/logo.svg" />
        <!-- Google Tag Manager -->
        <script>
            (function (w, d, s, l, i) {
                w[l] = w[l] || [];
                w[l].push({
                    'gtm.start': new Date().getTime(),
                    event: 'gtm.js',
                });
                var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s),
                    dl = l != 'dataLayer' ? '&l=' + l : '';
                j.async = true;
                j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
                f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', 'GTM-TWGQMN8');
        </script>
        <!-- End Google Tag Manager -->
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-CMZ45H5BZ4"></script>
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', 'G-CMZ45H5BZ4');
        </script>
        <title>ClassManage</title>
    </head>

    <body>
        <!-- <div id="loader">
            <div class="loader-inner pacman"></div>
        </div> -->
        <div class="bg"></div>
        <div class="layout">
            <div class="sideMenuArea">
                <div class="sideMenu">
                    <img class="logo" src="../../Images/icon/logo.svg" alt="logo" />
                    <h3>CodeCity</h3>
                    <nav>
                        <li id="navMap">
                            <a href="../Map/">
                                <div class="item" aria-hidden="true">
                                    <img
                                        class="icon"
                                        src="../../Images/icon/general/game.svg"
                                        alt="地圖"
                                    />
                                    <span class="text">課程地圖</span>
                                </div>
                            </a>
                        </li>
                        <li id="navRank" class="hide">
                            <a href="../Rank/">
                                <div class="item" aria-hidden="true">
                                    <img
                                        class="icon"
                                        src="../../Images/icon/general/leaderboard.svg"
                                        alt="排行榜"
                                    />
                                    <span class="text">排行榜</span>
                                </div>
                            </a>
                        </li>
                        <li id="navNews" class="hide">
                            <a href="../News/">
                                <div class="item" aria-hidden="true">
                                    <img
                                        class="icon"
                                        src="../../Images/icon/general/bell.svg"
                                        alt="最新消息"
                                    />
                                    <span class="text">最新消息</span>
                                </div>
                            </a>
                        </li>
                        <li id="navForum" class="hide">
                            <a href="../Forum/">
                                <div class="item" aria-hidden="true">
                                    <img
                                        class="icon"
                                        src="../../Images/icon/general/question-answer.svg"
                                        alt="討論區"
                                    />
                                    <span class="text">討論區</span>
                                </div>
                            </a>
                        </li>
                        <li id="navClassManage" class="active">
                            <a href="../ClassManage/">
                                <div class="item" aria-hidden="true">
                                    <img
                                        class="icon"
                                        src="../../Images/icon/general/groups.svg"
                                        alt="班級管理"
                                    />
                                    <span class="text">班級管理</span>
                                </div>
                            </a>
                        </li>
                        <li id="navCourseManage">
                            <a href="../CourseManage/">
                                <div class="item" aria-hidden="true">
                                    <img
                                        class="icon"
                                        src="../../Images/icon/type/book.svg"
                                        alt="課程管理"
                                    />
                                    <span class="text">課程管理</span>
                                </div>
                            </a>
                        </li>
                        <li id="navPerson">
                            <a href="../Setting/">
                                <div class="item" aria-hidden="true">
                                    <img
                                        class="icon"
                                        src="../../Images/icon/general/user.svg"
                                        alt="個人"
                                    />
                                    <span class="text">個人</span>
                                </div>
                            </a>
                            <ul>
                                <li id="navSetting">
                                    <a href="../Setting/">設定</a>
                                </li>
                                <li id="navLogOut">
                                    <a href="../Login/">登出</a>
                                </li>
                            </ul>
                        </li>
                    </nav>
                    <div class="status">
                        <div class="item close">
                            <img
                                class="icon"
                                src="../../Images/icon/direction/arrow-left-double.svg"
                                alt="icon"
                            />
                            <span>收合</span>
                        </div>
                        <div class="item open">
                            <img
                                class="icon"
                                src="../../Images/icon/direction/arrow-left-double.svg"
                                alt="icon"
                            />
                        </div>
                    </div>
                </div>
            </div>
            <div class="contentWrapper oneBlock fixFullScreen">
                <main class="content" active-tab="studentList">
                    <div class="contentTopArea">
                        <img id="classManageIcon" src="../../Images/icon/general/groups.svg" />
                        <h3 id="pageTitle">
                            <a href="../ClassManage/">班級管理</a>
                        </h3>
                        <div id="classCodeArea">
                            <div class="dropBox">
                                <input
                                    class="selectSelected"
                                    type="text"
                                    placeholder="請選擇班級"
                                />
                                <img
                                    src="../../Images/icon/direction/drop-right.svg"
                                    alt="icon"
                                    class="icon"
                                />
                                <img
                                    src="../../Images/icon/general/clear.svg"
                                    alt="icon"
                                    class="drop__clear"
                                />
                                <div class="line"></div>
                                <div class="selectItems"></div>
                            </div>
                        </div>
                        <div class="right">
                            <div class="dropBox selectLessonContent">
                                <input
                                    class="selectSelected"
                                    type="text"
                                    placeholder="請選擇內容類型"
                                />
                                <img
                                    src="../../Images/icon/direction/drop-right.svg"
                                    alt="icon"
                                    class="icon"
                                />
                                <img
                                    src="../../Images/icon/general/clear.svg"
                                    alt="icon"
                                    class="drop__clear"
                                />
                                <div class="line"></div>
                                <div class="selectItems">
                                    <div class="option" value="markdown">markdown</div>
                                    <div class="option" value="textArea">textArea</div>
                                    <div class="option" value="singleChoice">singleChoice</div>
                                    <div class="option" value="multipleChoice">multipleChoice</div>
                                    <div class="option" value="fillBlank">fillBlank</div>
                                    <div class="option" value="uploadImage">uploadImage</div>
                                    <div class="option" value="embed">embed</div>
                                    <div class="option" value="embedYoutube">embedYoutube</div>
                                </div>
                            </div>
                            <!-- <button
                                action-type="add"
                                action-target="topic"
                                class="button btn-secondary openModal"
                            >
                                新增
                            </button> -->
                        </div>
                    </div>
                    <div class="contentMainArea">
                        <div class="tabMenu">
                            <button class="tabMenuBtn active" target="studentList">學生名單</button>
                            <button class="tabMenuBtn" target="homeworkList">作業管理</button>
                        </div>
                        <div class="tab" tab-name="studentList">
                            <div class="table__container">
                                <table id="studentListTable" class="stripe" style="width: 100%">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>姓名</th>
                                            <th>信箱</th>
                                            <th>積分</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab" tab-name="homeworkList">
                            <div class="table__container">
                                <table id="homeworkListTable" class="stripe" style="width: 100%">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>姓名</th>
                                            <th>提交時間</th>
                                            <th>分數</th>
                                            <th>主題名稱</th>
                                            <th>章節名稱</th>
                                            <th>題型</th>
                                            <th>查看</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab" tab-name="lessonContent">
                            <div class="table__container">
                                <table id="lessonContentTable" class="stripe" style="width: 100%">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>順序權重</th>
                                            <th>內容類型</th>
                                            <th>內容</th>
                                            <th>預覽</th>
                                            <th>編輯</th>
                                            <th>刪除</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <div class="pop">
                <div class="contentWrapper">
                    <div class="top">
                        <img
                            class="icon"
                            src="../../Images/icon/general/bell-primary.svg"
                            alt="info"
                        />
                        <h3>通知</h3>
                    </div>
                    <p class="middle"></p>
                    <div class="bottom">
                        <div class="buttonGroup">
                            <button class="button btn-primary btn-hollow close-pop">取消</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="topicModal" class="modal">
                <div class="modalWrapper">
                    <div class="content">
                        <div class="top">
                            <img class="icon" src="../../Images/icon/general/edit-white.svg" />
                            <div class="title">新增主題</div>
                        </div>
                        <div class="middle">
                            <div class="formInput mustFill topicName">
                                <div class="title">
                                    主題名稱<span class="mustFillLabel">必填</span>
                                </div>
                                <input
                                    class="input"
                                    type="text"
                                    onkeyup="value=value.replace(/[^\w\u3400-\u4DBF\u3100-\u312F\u2E80-\u2FDF\u4E00-\u9FFF\uF900-\uFAFF\u02C9\u02CA\u02C7\u02CB\u02D9\u3001\-]/g, '')"
                                />
                            </div>
                            <div class="formInput topicDescription">
                                <div class="title">簡介</div>
                                <textarea class="input" placeholder="請輸入段落文字"></textarea>
                            </div>
                            <div class="item" data-feedback="false">
                                <div class="feedbackMsg errorMsg fillAvailable">
                                    <span class="icon"></span>
                                    <span class="text">error message</span>
                                </div>
                            </div>
                        </div>
                        <div class="bottom">
                            <div class="buttonGroup">
                                <button class="button btn-primary btn-hollow modalCancel">
                                    取消
                                </button>
                                <button class="button btn-primary modalConfirm">確認</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="lessonModal" class="modal">
                <div class="modalWrapper">
                    <div class="content">
                        <div class="top">
                            <img class="icon" src="../../Images/icon/general/edit-white.svg" />
                            <div class="title">新增章節</div>
                        </div>
                        <div class="middle">
                            <div class="group two">
                                <div class="formInput mustFill lessonName">
                                    <div class="title">
                                        章節名稱<span class="mustFillLabel">必填</span>
                                    </div>
                                    <input
                                        class="input"
                                        type="text"
                                        onkeyup="value=value.replace(/[^\w\u3400-\u4DBF\u3100-\u312F\u2E80-\u2FDF\u4E00-\u9FFF\uF900-\uFAFF\u02C9\u02CA\u02C7\u02CB\u02D9\u3001\-]/g, '')"
                                    />
                                </div>
                                <div class="formInput lessonContentOrder">
                                    <div class="title">順序</div>
                                    <input
                                        class="input"
                                        type="text"
                                        onkeyup="value=value.replace(/\D/g,'')"
                                    />
                                </div>
                            </div>
                            <div class="formInput lessonDescription">
                                <div class="title">簡介</div>
                                <textarea class="input" placeholder="請輸入段落文字"></textarea>
                            </div>
                            <div class="item" data-feedback="false">
                                <div class="feedbackMsg errorMsg fillAvailable">
                                    <span class="icon"></span>
                                    <span class="text">error message</span>
                                </div>
                            </div>
                        </div>
                        <div class="bottom">
                            <div class="buttonGroup">
                                <button class="button btn-primary btn-hollow modalCancel">
                                    取消
                                </button>
                                <button class="button btn-primary modalConfirm">確認</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="lessonContentModal" class="modal">
                <div class="modalWrapper">
                    <div class="content">
                        <div class="top">
                            <img class="icon" src="../../Images/icon/general/edit-white.svg" />
                            <div class="title">新增章節</div>
                        </div>
                        <div class="middle">
                            <div class="group two">
                                <div class="formInput lessonContentType form__disable">
                                    <div class="title">內容類型</div>
                                    <input class="input" type="text" readonly />
                                </div>
                                <div class="formInput lessonContentOrder">
                                    <div class="title">順序</div>
                                    <input
                                        class="input"
                                        type="number"
                                        onkeyup="value=value.replace(/\D/g,'')"
                                    />
                                </div>
                            </div>
                            <div class="markdownForm formModule">
                                <div class="group two">
                                    <div class="formInput lessonContent mustFill">
                                        <div class="title">
                                            內容<span class="mustFillLabel">必填</span>
                                        </div>
                                        <textarea
                                            class="input"
                                            placeholder="請輸入段落文字"
                                        ></textarea>
                                    </div>
                                    <div class="preview">
                                        <div class="title">預覽</div>
                                        <div class="markdownArea section previewArea"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="textAreaForm formModule">
                                <div class="formInput quizTitle mustFill">
                                    <div class="title">
                                        標題<span class="mustFillLabel">必填</span>
                                    </div>
                                    <input class="input" type="text" placeholder="請輸入標題" />
                                </div>
                                <div class="formInput quizDetail">
                                    <div class="title">簡介</div>
                                    <input class="input" type="text" placeholder="請輸入簡介內容" />
                                </div>
                                <div class="group two">
                                    <div class="formInput quizImage">
                                        <div class="title">上傳圖片</div>
                                        <input
                                            class="input quizImageUpload"
                                            type="file"
                                            accept="image/*"
                                        />
                                    </div>
                                    <div class="formInput quizImageAlt">
                                        <div class="title">圖片說明</div>
                                        <input
                                            class="input"
                                            type="text"
                                            placeholder="請輸入圖片說明"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="uploadImageForm formModule">
                                <div class="formInput quizTitle mustFill">
                                    <div class="title">
                                        標題<span class="mustFillLabel">必填</span>
                                    </div>
                                    <input class="input" type="text" placeholder="請輸入標題" />
                                </div>
                                <div class="formInput quizDetail">
                                    <div class="title">說明</div>
                                    <input class="input" type="text" placeholder="請輸入說明" />
                                </div>
                            </div>

                            <div class="singleChoiceForm formModule">
                                <div class="formInput quizTitle mustFill">
                                    <div class="title">
                                        標題<span class="mustFillLabel">必填</span>
                                    </div>
                                    <input class="input" type="text" placeholder="請輸入標題" />
                                </div>

                                <div class="formInput quizOption mustFill">
                                    <div class="title">
                                        選項
                                        <span class="mustFillLabel">必填</span>
                                    </div>

                                    <div class="condition__button">
                                        <input
                                            select-id="0"
                                            type="checkbox"
                                            id="singleOption1"
                                            name="singleOptionAns"
                                        />
                                        <label for="singleOption1"
                                            ><span class="check"></span
                                            ><span class="text"
                                                ><input
                                                    class="input"
                                                    type="text"
                                                    placeholder="請輸入選項內容(必填)" /></span
                                        ></label>
                                    </div>
                                    <div class="condition__button">
                                        <input
                                            select-id="1"
                                            type="checkbox"
                                            id="singleOption2"
                                            name="singleOptionAns"
                                        />
                                        <label for="singleOption2"
                                            ><span class="check"></span
                                            ><span class="text"
                                                ><input
                                                    class="input"
                                                    type="text"
                                                    placeholder="請輸入選項內容(必填)" /></span
                                        ></label>
                                    </div>
                                    <div class="condition__button">
                                        <input
                                            select-id="2"
                                            type="checkbox"
                                            id="singleOption3"
                                            name="singleOptionAns"
                                        />
                                        <label for="singleOption3"
                                            ><span class="check"></span
                                            ><span class="text"
                                                ><input
                                                    class="input"
                                                    type="text"
                                                    placeholder="請輸入選項內容" /></span
                                        ></label>
                                    </div>
                                    <div class="condition__button">
                                        <input
                                            select-id="3"
                                            type="checkbox"
                                            id="singleOption4"
                                            name="singleOptionAns"
                                        />
                                        <label for="singleOption4"
                                            ><span class="check"></span
                                            ><span class="text"
                                                ><input
                                                    class="input"
                                                    type="text"
                                                    placeholder="請輸入選項內容" /></span
                                        ></label>
                                    </div>
                                    <span class="note"
                                        >註：至少兩個選項、其餘若不需要可留白，點選左側圓圈選擇答案</span
                                    >
                                </div>

                                <div class="formInput quizDetail">
                                    <div class="title">簡介</div>
                                    <input class="input" type="text" placeholder="請輸入簡介內容" />
                                </div>
                                <div class="group two">
                                    <div class="formInput quizImage">
                                        <div class="title">上傳圖片</div>
                                        <input
                                            class="input quizImageUpload"
                                            type="file"
                                            accept="image/*"
                                        />
                                    </div>
                                    <div class="formInput quizImageAlt">
                                        <div class="title">圖片說明</div>
                                        <input
                                            class="input"
                                            type="text"
                                            placeholder="請輸入圖片說明"
                                        />
                                    </div>
                                </div>
                            </div>

                            <div class="multipleChoiceForm formModule">
                                <div class="formInput quizTitle mustFill">
                                    <div class="title">
                                        標題<span class="mustFillLabel">必填</span>
                                    </div>
                                    <input class="input" type="text" placeholder="請輸入標題" />
                                </div>

                                <div class="formInput quizOption mustFill">
                                    <div class="title">
                                        選項
                                        <span class="mustFillLabel">必填</span>
                                    </div>

                                    <div class="condition__button">
                                        <input
                                            select-id="0"
                                            type="checkbox"
                                            id="multipleOption1"
                                            name="multipleOptionAns"
                                        />
                                        <label for="multipleOption1"
                                            ><span class="check"></span
                                            ><span class="text"
                                                ><input
                                                    class="input"
                                                    type="text"
                                                    placeholder="請輸入選項內容(必填)" /></span
                                        ></label>
                                    </div>
                                    <div class="condition__button">
                                        <input
                                            select-id="1"
                                            type="checkbox"
                                            id="multipleOption2"
                                            name="multipleOptionAns"
                                        />
                                        <label for="multipleOption2"
                                            ><span class="check"></span
                                            ><span class="text"
                                                ><input
                                                    class="input"
                                                    type="text"
                                                    placeholder="請輸入選項內容(必填)" /></span
                                        ></label>
                                    </div>
                                    <div class="condition__button">
                                        <input
                                            select-id="2"
                                            type="checkbox"
                                            id="multipleOption3"
                                            name="multipleOptionAns"
                                        />
                                        <label for="multipleOption3"
                                            ><span class="check"></span
                                            ><span class="text"
                                                ><input
                                                    class="input"
                                                    type="text"
                                                    placeholder="請輸入選項內容" /></span
                                        ></label>
                                    </div>
                                    <div class="condition__button">
                                        <input
                                            select-id="3"
                                            type="checkbox"
                                            id="multipleOption4"
                                            name="multipleOptionAns"
                                        />
                                        <label for="multipleOption4"
                                            ><span class="check"></span
                                            ><span class="text"
                                                ><input
                                                    class="input"
                                                    type="text"
                                                    placeholder="請輸入選項內容"
                                                /> </span
                                        ></label>
                                    </div>
                                    <span class="note"
                                        >註：至少兩個選項、其餘若不需要可留白，點選左側圓圈選擇答案</span
                                    >
                                </div>

                                <div class="formInput quizDetail">
                                    <div class="title">簡介</div>
                                    <input class="input" type="text" placeholder="請輸入簡介內容" />
                                </div>
                                <div class="group two">
                                    <div class="formInput quizImage">
                                        <div class="title">上傳圖片</div>
                                        <input
                                            class="input quizImageUpload"
                                            type="file"
                                            accept="image/*"
                                        />
                                    </div>
                                    <div class="formInput quizImageAlt">
                                        <div class="title">圖片說明</div>
                                        <input
                                            class="input"
                                            type="text"
                                            placeholder="請輸入圖片說明"
                                        />
                                    </div>
                                </div>
                            </div>

                            <div class="fillBlankForm formModule">
                                <div class="group two">
                                    <div class="formInput quizTitle mustFill">
                                        <div class="title">
                                            標題<span class="mustFillLabel">必填</span>
                                        </div>
                                        <input class="input" type="text" placeholder="請輸入標題" />
                                    </div>

                                    <div class="formInput quizDetail">
                                        <div class="title">簡介</div>
                                        <input
                                            class="input"
                                            type="text"
                                            placeholder="請輸入簡介內容"
                                        />
                                    </div>
                                </div>

                                <div class="group two">
                                    <div class="formInput quizImage mustFill">
                                        <div class="title">
                                            上傳圖片<span class="mustFillLabel">必填</span>
                                        </div>
                                        <input
                                            class="input quizImageUpload"
                                            type="file"
                                            accept="image/*"
                                        />
                                    </div>
                                    <div class="formInput quizImageAlt">
                                        <div class="title">圖片說明</div>
                                        <input
                                            class="input"
                                            type="text"
                                            placeholder="請輸入圖片說明"
                                        />
                                    </div>
                                </div>
                                <div class="group two">
                                    <div class="formInput">
                                        <div class="title">圖片預覽</div>
                                        <div class="previewImage">
                                            <img src="../../Images/city.png" />
                                        </div>
                                    </div>

                                    <div class="formInput quizOptionGroup mustFill">
                                        <div class="title">
                                            選項
                                            <span class="mustFillLabel">必填</span>
                                        </div>
                                        <div class="optionsArea">
                                            <div class="optionItem">
                                                <input
                                                    class="input quizNumber"
                                                    type="text"
                                                    placeholder="請輸入題號"
                                                    onkeyup="value=value.replace(/[\W]/g,'')"
                                                />
                                                <input
                                                    class="input quizAnswer"
                                                    type="text"
                                                    placeholder="請輸入答案"
                                                />
                                            </div>
                                            <div class="optionItem">
                                                <input
                                                    class="input quizNumber"
                                                    type="text"
                                                    placeholder="請輸入題號"
                                                    onkeyup="value=value.replace(/[\W]/g,'')"
                                                />
                                                <input
                                                    class="input quizAnswer"
                                                    type="text"
                                                    placeholder="請輸入答案"
                                                />
                                            </div>
                                            <div class="optionItem">
                                                <input
                                                    class="input quizNumber"
                                                    type="text"
                                                    placeholder="請輸入題號"
                                                    onkeyup="value=value.replace(/[\W]/g,'')"
                                                />
                                                <input
                                                    class="input quizAnswer"
                                                    type="text"
                                                    placeholder="請輸入答案"
                                                />
                                            </div>
                                            <div class="optionItem">
                                                <input
                                                    class="input quizNumber"
                                                    type="text"
                                                    placeholder="請輸入題號"
                                                    onkeyup="value=value.replace(/[\W]/g,'')"
                                                />
                                                <input
                                                    class="input quizAnswer"
                                                    type="text"
                                                    placeholder="請輸入答案"
                                                />
                                            </div>
                                            <div class="optionItem">
                                                <input
                                                    class="input quizNumber"
                                                    type="text"
                                                    placeholder="請輸入題號"
                                                    onkeyup="value=value.replace(/[\W]/g,'')"
                                                />
                                                <input
                                                    class="input quizAnswer"
                                                    type="text"
                                                    placeholder="請輸入答案"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="embedForm formModule">
                                <div class="formInput embedLink mustFill">
                                    <div class="title">
                                        連結<span class="mustFillLabel">必填</span>
                                    </div>
                                    <input class="input" type="text" placeholder="請輸入嵌入連結" />
                                </div>
                            </div>

                            <div class="embedYoutubeForm formModule">
                                <div class="formInput embedLink mustFill">
                                    <div class="title">
                                        連結<span class="mustFillLabel">必填</span>
                                    </div>
                                    <input class="input" type="text" placeholder="請輸入嵌入連結" />
                                </div>
                            </div>

                            <div class="item" data-feedback="false">
                                <div class="feedbackMsg errorMsg fillAvailable">
                                    <span class="icon"></span>
                                    <span class="text">error message</span>
                                </div>
                            </div>
                        </div>
                        <div class="bottom">
                            <div class="buttonGroup">
                                <button class="button btn-primary btn-hollow modalCancel">
                                    取消
                                </button>
                                <button class="button btn-primary modalConfirm">確認</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="previewLessonContentModal" class="modal">
                <div class="modalWrapper">
                    <div class="content">
                        <div class="top">
                            <img class="icon" src="../../Images/icon/general/edit-white.svg" />
                            <div class="title">新增章節</div>
                        </div>
                        <div class="middle">
                            <div id="lessonContent"></div>
                        </div>
                        <div class="bottom">
                            <div class="buttonGroup">
                                <button class="button btn-primary btn-hollow modalCancel">
                                    取消
                                </button>
                                <button class="button btn-primary modalConfirm">確認</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="../../Common/util.js"></script>
        <script src="../../Dependencies/jquery/jquery.min.js"></script>
        <script src="../../Dependencies//hljs/highlight.min.js"></script>
        <script src="../../Dependencies//hljs/highlightjs-line-numbers.min.js"></script>
        <script src="../../Dependencies/marked/marked.min.js"></script>
        <script src="../../Dependencies/marked/extension.js"></script>
        <script src="../../Dependencies/datatables/datatables.min.js"></script>
        <script src="../../Dependencies/datatables/dataTables.scrollResize.min.js"></script>
        <script src="../../Components/Table/index.js"></script>
        <script src="../../Components/Loader/index.js"></script>
        <script src="../../Components/SideMenu/index.js"></script>
        <script src="../../Components/FeedbackMsg/index.js"></script>
        <script src="../../Components/Input/index.js"></script>
        <script src="../../Components/DropBox/index.js"></script>
        <script src="../../Components/DropBox/selectClassCode.js"></script>
        <script src="../../Components/MultiDropBox/index.js"></script>
        <script src="../../Components/Modal/index.js"></script>
        <script src="../../Components/Pop/index.js"></script>
        <script src="../../Dependencies/dotdotdot/index.js"></script>
        <script src="../../Components/LessonContentModule/index.js"></script>
        <script src="index.js"></script>
    </body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
        ><iframe
            src="https://www.googletagmanager.com/ns.html?id=GTM-TWGQMN8"
            height="0"
            width="0"
            style="display: none; visibility: hidden"
        ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->
</html>
