<!DOCTYPE html>
<html lang="zh-TW">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
        />
        <link rel="stylesheet" href="../../Common/index.css" />
        <link rel="stylesheet" href="./index.css" />
        <title>SideMenu</title>
    </head>
    <body style="height: 1000px">
        <div class="sideMenuArea">
            <div class="sideMenu">
                <img class="logo" src="../../Images/icon/logo.svg" alt="logo" />
                <h3>CodeCity</h3>
                <nav>
                    <li id="navTopicMap" class="active">
                        <a href="#">
                            <div class="item" aria-hidden="true">
                                <img
                                    class="icon"
                                    src="../../Images/icon/general/game.svg"
                                    alt="地圖"
                                />
                                <span class="text">課程地圖</span>
                            </div>
                        </a>
                    </li>
                    <li id="navRank" class="hide">
                        <a href="#">
                            <div class="item" aria-hidden="true">
                                <img
                                    class="icon"
                                    src="../../Images/icon/general/leaderboard.svg"
                                    alt="排行榜"
                                />
                                <span class="text">排行榜</span>
                            </div>
                        </a>
                    </li>
                    <li id="navNews" class="hide">
                        <a href="#">
                            <div class="item" aria-hidden="true">
                                <img
                                    class="icon"
                                    src="../../Images/icon/general/bell.svg"
                                    alt="最新消息"
                                />
                                <span class="text">最新消息</span>
                            </div>
                        </a>
                    </li>
                    <li id="navForum" class="hide">
                        <a href="#">
                            <div class="item" aria-hidden="true">
                                <img
                                    class="icon"
                                    src="../../Images/icon/general/question-answer.svg"
                                    alt="討論區"
                                />
                                <span class="text">討論區</span>
                            </div>
                        </a>
                    </li>
                    <li id="navClassManage" class="hide">
                        <a href="#">
                            <div class="item" aria-hidden="true">
                                <img
                                    class="icon"
                                    src="../../Images/icon/general/groups.svg"
                                    alt="班級管理"
                                />
                                <span class="text">班級管理</span>
                            </div>
                        </a>
                    </li>
                    <li id="navTopicManage" class="hide">
                        <a href="#">
                            <div class="item" aria-hidden="true">
                                <img
                                    class="icon"
                                    src="../../Images/icon/type/book.svg"
                                    alt="課程管理"
                                />
                                <span class="text">課程管理</span>
                            </div>
                        </a>
                    </li>
                    <li id="navPerson">
                        <a href="#">
                            <div class="item" aria-hidden="true">
                                <img
                                    class="icon"
                                    src="../../Images/icon/general/user.svg"
                                    alt="個人"
                                />
                                <span class="text">個人</span>
                            </div>
                        </a>
                        <ul>
                            <li id="navSetting">
                                <a href="#">設定</a>
                            </li>
                            <li id="navLogOut"> 
                                <a href="#">登出</a>
                            </li>
                        </ul>
                    </li>
                </nav>
                <div class="status">
                    <div class="item close">
                        <img
                            class="icon"
                            src="../../Images/icon/direction/arrow-left-double.svg"
                            alt="icon"
                        />
                        <span>收合</span>
                    </div>
                    <div class="item open">
                        <img
                            class="icon"
                            src="../../Images/icon/direction/arrow-left-double.svg"
                            alt="icon"
                        />
                    </div>
                </div>
            </div>
        </div>
        <script src="./index.js"></script>
    </body>
</html>
