/*
 * This is for global css usage.
 */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@font-face {
    font-family: 'JetBrainsMono';
    src: url('./JetBrainsMono/JetBrainsMono-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'JetBrainsMono';
    src: url('./JetBrainsMono/JetBrainsMono-Bold.ttf') format('truetype');
    font-weight: bold;
}
@import './palette.css';

* {
    font-family: 'Poppins', 'Noto Sans TC', 'PingFangTC-Regular', 'Microsoft JhengHei', sans-serif;
    outline: none;
    box-sizing: border-box;
}

body,
input,
select,
textarea,
button {
    -webkit-font-smoothing: antialiased;
    font-family: 'Noto Sans TC', 'PingFangTC-Regular', 'Microsoft JhengHei', 'Poppins', sans-serif;
}

html,
body {
    overflow-x: hidden;
    position: relative;
}

body {
    margin: 0;
    overflow-x: hidden;
    width: 100%;
    background-color: white;

    &.no-scroll {
        position: fixed;
        overflow-y: scroll;
    }

    & > #content {
        display: flex;
        flex-direction: column;
    }
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    padding: 0;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
}

button {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

textarea,
input {
    appearance: none;
    border-radius: 0;
}

/* Remove the div wrap image unknown padding */
img {
    display: block;
}

h1 {
    font-size: 42px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 1px;
    color: var(--black);
    margin: 0;
}

h2 {
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: var(--black);
    margin: 0;
}

h3 {
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 1px;
    color: var(--black);
    margin: 0;
}

p {
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: 0.5px;
    color: var(--black);
    margin: 0;
}

p.large {
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: 0.6px;
    color: var(--black);
}

p.small {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.47px;
    color: var(--black);
}

.hide {
    display: none !important; 
}
