body {
    font-family: 'Raleway';
    font-size: 14px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
}

p {
    line-height: 1.5em;
}

h3 + p,
p + p {
    margin-top: 10px;
}

.layout {
    height: calc(100% - 60px);
    width: -webkit-fill-available;

    .contentWrapper {
        // background-color: rgba(255, 255, 255, 0.6);
        // box-shadow: none;
        width: 100%;
        padding: 24px;

        &.fixFullScreen {
            height: 100%;
        }

        &.twoBlock {
            display: flex;
            gap: 16px;
        }

        .content {
            margin: 0;
            padding: 0;

            display: flex;
            flex-direction: column;
            max-width: 600px;
        }
    }
}

#settingContent {
    .idCard {
        width: fit-content;

        .user {
            display: flex;
            flex-direction: row;
            gap: 8px;
        }
    }
    .settingArea {
        .sectionHead {
            display: flex;

            justify-content: space-between;
            margin-top: 16px;
            margin-bottom: 16px;
        }

        .iconButton {
            width: fit-content;

            img {
                padding: 4px;
                width: fit-content;
                margin: auto;
                border-radius: 8px;
                cursor: pointer;
                transition: all 0.3s ease;
                background-color: var(--primary);

                &:hover {
                    background-color: var(--primary-dark);
                }
            }
        }

        .settingItem {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-top: 8px;

            &[data-type='class'] {
                flex-direction: column;
                align-items: flex-start;

                .table__container {
                    width: 100%;
                }
            }

            .title {
                flex-shrink: 0;
                font-size: 14px;
                color: var(--grey1);
                margin-right: 8px;
            }

            .content {
                color: var(--primary);
            }

            #userClassDisplay {
                width: 100%;
            }
        }

        .formArea[action='applyClassCode'] {

            input {
                width: calc(100% - 40px);
            }

            .box{
                display: flex;
                justify-content: space-between;
            }

            .iconArea {
                left: 10px;
            }

        }
    }
}
