body {
    font-family: 'Raleway';
    font-size: 14px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
}

p {
    line-height: 1.5em;
}

h3 + p,
p + p {
    margin-top: 10px;
}

.note {
    position: absolute;
    left: 102px;
    top: 78px;
    z-index: 1;
    border-radius: 8px;
    transition: all 0.3s ease;

    .pill-button {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 2px 8px;
        color: var(--primary);
        border: 1px solid var(--primary);
        border-radius: 8px;
        margin-bottom: 12px;
        font-size: 16px;

        .icon{
            transition: all 0.3s ease;
        }
    }

    .content {
        transition: all 0.3s ease;
        overflow: hidden;
        max-height: 0;
    }

    &.active {
        .content {
            max-height: 100px;
        }

        .pill-button .icon {
            transform: rotate(180deg);
        }
    }
}

.layout {
    padding: 70px 30px 20px 90px;
    width: -webkit-fill-available;

    .contentWrapper {
        background-color: transparent;
        box-shadow: none;
        width: calc(100%);
        height: calc(100% - 90px);

        .content {
            margin: 0;
            padding: 0;
        }

        .gridMap {
            display: flex;
            justify-content: center;
            border-radius: 8px;
            overflow: hidden;
            opacity: 0.9;
            background-image: url('../../Images/island/sky.png');
            background-size: 100% 100%;
            padding: 24px;
            height: 100%;

            .top,
            .left,
            .right {
                display: flex;
                width: 100%;
                align-items: center;
                position: relative;

                &::after {
                    position: absolute;
                    content: ' ';
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, 0);
                    background-color: var(--grey2);
                    width: 75%;
                    height: 6px;
                }
            }

            .top {
                gap: 30px;

                &::before {
                    position: absolute;
                    content: ' ';
                    top: 50%;
                    right: 40px;
                    transform: translate(-50%, -50%);
                    background-color: var(--grey2);
                    width: 6px;
                    height: 350px;
                }
            }

            .bottom {
                position: relative;
                left: -80px;
            }

            .bottom {
                display: grid;
                gap: 30px;
                width: 100%;
            }
        }

        .grid {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;

            .gridItem {
                display: flex;
                align-items: center;
                position: relative;

                img {
                    width: 100%;
                }

                a {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    position: relative;

                    p,
                    span {
                        padding: 4px;
                        transition: all 0.3s ease;
                        z-index: 2;
                    }

                    .score {
                        position: absolute;
                        bottom: 0;
                        right: 50%;
                        transform: translate(50%, calc(-100% - 16px));
                        font-size: 12px;
                        padding: 10px 4px 4px 8px;
                        z-index: 2;
                        color: rgb(106, 74, 15);
                        font-weight: bold;
                        line-height: 1;
                        color: var(--grey4);

                        &.hide {
                            display: none;
                        }
                    }

                    .title {
                        padding: 4px 8px;
                        width: max-content;
                        font-size: 14px;
                        color: white;
                        text-align: center;
                        font-weight: bold;
                        border-radius: 16px;
                        text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
                        background-image: linear-gradient(130deg, #335de9a7, #8534b7ab);
                        transition: all 0.5s ease;
                    }

                    .building {
                        display: none;
                        height: 100%;
                        max-height: 120px;
                        z-index: 1;
                        margin-bottom: 12px;
                        transition: all 0.3s ease;
                    }

                    &:hover {
                        .title {
                            background-image: linear-gradient(130deg, #092b9a, #631395);
                        }
                    }
                }
            }

            &[rank='0'] {
                img.building[level='0'] {
                    display: block;
                }

                .score {
                    &::after {
                        position: absolute;
                        content: ' ';
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        z-index: -1;
                        background-size: 100%;
                        background-position: center;
                        width: 40px;
                        height: 40px;
                        background-image: url(../../Images/rank/rank-0.png);
                    }
                }
            }

            &[rank='1'] {
                img.building[level='1'] {
                    display: block;
                }

                .score {
                    &::after {
                        position: absolute;
                        content: ' ';
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        z-index: -1;
                        background-size: 100%;
                        background-position: center;
                        width: 45px;
                        height: 45px;
                        background-image: url(../../Images/rank/rank-1.png);
                    }
                }
            }

            &[rank='2'] {
                img.building[level='2'] {
                    display: block;
                }

                .score {
                    &::after {
                        position: absolute;
                        content: ' ';
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        z-index: -1;
                        background-size: 100%;
                        background-position: center;
                        width: 45px;
                        height: 45px;
                        background-image: url(../../Images/rank/rank-2.png);
                    }
                }
            }
        }

        .group {
            display: flex;
            justify-content: space-around;
        }

        .tmpContent {
            display: flex;
            flex-direction: column;
            max-width: 600px;
            gap: 32px;

            .group {
                display: flex;
                justify-content: space-between;

                &.center {
                    justify-content: center;
                }

                &.arrow {
                    justify-content: space-around;
                }

                .arrow-left {
                    transform: rotate(45deg);
                }
                .arrow-right {
                    transform: rotate(-45deg);
                }
            }
        }
    }
}

#classCodeArea {
    position: absolute;
    top: 10px;
    left: 90px;
    height: fit-content;
}
