body {
    font-family: 'Raleway';
    font-size: 14px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
}

p {
    line-height: 1.5em;
}

h3 + p,
p + p {
    margin-top: 10px;
}

.layout {
    padding: 70px 30px 20px 90px;
    width: -webkit-fill-available;

    .contentWrapper {
        background-color: transparent;
        box-shadow: none;
        width: 100%;

        .content {
            margin: 0;
            padding: 0;
        }

        .chapter {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 16px;
            gap: 16px;
            width: max-content;
            margin: 0 auto 16px;
            border-radius: 8px;

            .mapItem {
                display: flex;
                width: -webkit-fill-available;

                a {
                    font-size: 16px;
                    display: flex;
                    align-items: center;
                    gap: 16px;

                    img {
                        height: 120px;
                        width: 120px;
                        object-fit: cover;
                        box-sizing: border-box;
                        border: 4px solid white;
                        border-radius: 8px;
                    }
                }
            }

            &[chapter='one'] {
                background-color: var(--grey4);

                .mapItem {
                    span {
                        color: var(--grey2);
                    }

                    &:hover {
                        span {
                            color: var(--grey1);
                        }
                    }
                }
            }
            &[chapter='two'] {
                background-color: var(--primary-light);

                .mapItem {
                    span {
                        color: var(--primary);
                    }

                    &:hover {
                        span {
                            color: var(--primary-dark);
                        }
                    }
                }
            }
            &[chapter='three'] {
                background-color: var(--alert-light);

                .mapItem {
                    span {
                        color: var(--alert);
                    }

                    &:hover {
                        span {
                            color: var(--alert-dark);
                        }
                    }
                }
            }
            &[chapter='four'] {
                background-color: var(--success-light);

                .mapItem {
                    span {
                        color: var(--success);
                    }

                    &:hover {
                        span {
                            color: var(--success-dark);
                        }
                    }
                }
            }
        }

        .gridMap {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            width: 80%;
            border-radius: 8px;
            overflow: hidden;
            opacity: 0.9;
            background-image: url('../../Images/city/land-10.jpeg');
        }

        .grid {
            display: grid;
            width: 100%;
            grid-template-rows: repeat(3, 1fr);
            grid-template-columns: repeat(3, 1fr);

            .gridItem {
                position: relative;
                display: flex;
                align-items: center;

                img {
                    width: 100%;

                    &.sm {
                        padding: 48px;
                    }

                    &.md {
                        padding: 36px;
                    }

                    &.lg {
                        padding: 24px;
                    }

                    &.xl {
                        padding: 12px;
                    }

                    &.background {
                        position: absolute;
                        z-index: 0;
                        top: 0;
                    }
                }

                a {
                    span {
                        padding: 4px;
                        transition: all 0.3s ease;
                        position: absolute;
                        z-index: 2;
                        color: var(--grey1);
                    }

                    .order {
                        position: absolute;
                        top: 0;
                        font-size: 16px;
                        z-index: 2;
                        color: rgb(106, 74, 15);
                        font-weight: bold;
                    }

                    .title {
                        bottom: 10px;
                        padding: 4px 8px;
                        width: max-content;
                        font-size: 1.2em;
                        left: 50%;
                        transform: translateX(-50%);
                        color: white;
                        text-align: center;
                        font-weight: bold;
                        border-radius: 16px;
                        text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
                        background-color: rgba(255, 255, 255, 0.7);
                    }

                    .building {
                        position: absolute;
                        top: -10px;
                        z-index: 1;
                        padding: 24px;
                        transition: all 0.3s ease;
                    }

                    &:hover {
                        .building {
                            padding: 12px;
                        }

                        .title {
                            background-color: rgba(255, 255, 255, 1);
                        }
                    }
                }

                &::before {
                    content: ' ';
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(255, 255, 255, 0.8);
                }
            }

            *[limit='0'] {
                img {
                    opacity: 1;
                }
                &::before {
                    display: none;
                }
            }

            &[rank='3'] {
                *[limit='1'],
                *[limit='2'],
                *[limit='3'] {
                    img {
                        opacity: 1;

                        &[limit='4'],
                        &[limit='5'],
                        &[limit='6'],
                        &[limit='7'],
                        &[limit='8'] {
                            opacity: 0.2;
                        }
                    }
                    &::before {
                        display: none;
                    }
                }
            }
        }

        .group {
            display: flex;
            justify-content: space-around;
        }

        .tmpContent {
            display: flex;
            flex-direction: column;
            max-width: 600px;
            gap: 32px;

            .group {
                display: flex;
                justify-content: space-between;

                &.center {
                    justify-content: center;
                }

                &.arrow {
                    justify-content: space-around;
                }

                .arrow-left {
                    transform: rotate(45deg);
                }
                .arrow-right {
                    transform: rotate(-45deg);
                }
            }
        }

        // $hoverEasing: cubic-bezier(0.5, 0.5, 0.32, 0.5);
        // $returnEasing: cubic-bezier(0.5, 0.5, 0.55, 0.95);

        // .slick-list {
        //     padding: 32px 32px 32px 16px;
        //     left: -24px;
        // }

        // .slick-track {
        //     left: -8px;
        // }

        // .slick-slide {
        //     pointer-events: none;

        //     &.slick-active {
        //         pointer-events: all;
        //     }
        // }

        // .card-wrap {
        //     margin: 0 16px;
        //     transform: perspective(800px);
        //     transform-style: preserve-3d;
        //     cursor: pointer;
        //     height: 660px;
        //     width: 240px;

        //     .card {
        //         position: relative;
        //         flex: 0 0 240px;
        //         width: -webkit-fill-available;
        //         height: -webkit-fill-available;
        //         background-color: var(--black);
        //         overflow: hidden;
        //         border-radius: 10px;
        //         box-shadow: rgba(black, 0.66) 0 5px 20px 0, inset #333 0 0 0 5px,
        //             inset rgba(white, 0.5) 0 0 0 6px;
        //         transition: 1s $returnEasing;
        //     }

        //     &.disable {
        //         cursor: not-allowed;

        //         .card:before {
        //             position: absolute;
        //             content: '';
        //             width: 100%;
        //             height: 100%;
        //             background-repeat: no-repeat;
        //             background-size: 40%;
        //             background-position: center;
        //             background-image: url('../../Images/icon/general/lock.svg');
        //         }

        //         .card-bg {
        //             opacity: 0.5;
        //             filter: blur(1rem);
        //         }
        //     }

        //     .card-bg {
        //         opacity: 0.8;
        //         position: absolute;
        //         top: -20px;
        //         left: -20px;
        //         width: calc(100% + 40px);
        //         height: calc(100% + 40px);
        //         padding: 20px;
        //         background-repeat: no-repeat;
        //         background-position: left center;
        //         background-size: cover;
        //         transition: 1s $returnEasing, opacity 1s 1s $returnEasing;
        //         pointer-events: none;
        //     }

        //     .card-info {
        //         padding: 20px;
        //         position: absolute;
        //         bottom: 0;
        //         color: var(--primary);
        //         background-color: rgba(255, 255, 255, 0.8);
        //         transform: translateY(calc(100% - 70px));
        //         transition: 0.6s 0.6s cubic-bezier(0.5, 0.5, 0.355, 1);

        //         p {
        //             opacity: 0;
        //             color: var(--primary-dark);
        //             // text-shadow: rgba(black, 1) 0 2px 3px;
        //             transition: 0.6s 0.6s cubic-bezier(0.5, 0.5, 0.355, 1);
        //         }

        //         h3 {
        //             -webkit-background-clip: text;
        //             background-clip: text;
        //             background-image: linear-gradient(
        //                 to right,
        //                 #6c0de8 0%,
        //                 #4650ac 40%,
        //                 #6178d4 55%,
        //                 #3a87ba 80%
        //             );
        //             color: transparent;
        //         }

        //         * {
        //             position: relative;
        //             z-index: 1;
        //         }
        //     }

        //     &:hover {
        //         .card {
        //             transform: rotateY(10deg);
        //         }
        //         .card-info {
        //             transform: translateY(0);
        //         }
        //         .card-info p {
        //             opacity: 1;
        //         }
        //         .card-info,
        //         .card-info p {
        //             transition: 0.6s $hoverEasing;
        //         }

        //         .card-bg {
        //             transition: 0.6s $hoverEasing, opacity 2s $hoverEasing;
        //             // opacity: 0.8;
        //         }
        //         .card {
        //             transition: 0.6s $hoverEasing, box-shadow 1s $hoverEasing;
        //             // box-shadow: rgba(white, 0.2) 0 0 20px 5px, rgba(white, 1) 0 0 0 1px,
        //             //     rgba(black, 0.66) 0 10px 30px 0, inset #333 0 0 0 5px, inset white 0 0 0 6px;
        //         }
        //     }
        // }
    }
}

#classCodeArea {
    position: absolute;
    top: 10px;
    left: 90px;
    height: fit-content;
}
